import React from 'react';

export default function {{pascalCase name}}Page() {
  return (
    <main className="min-h-screen p-8">
      <h1 className="text-2xl font-bold">{{pascalCase name}} Page</h1>
      
      <div className="mt-4">
        {/* Page content goes here */}
      </div>
    </main>
  );
}